{% extends "base.html" %}


{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
          <div class="row parent">
      <div class="col-md-8 nopadding child ">

            <div class="box main-box ">



            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
      </div>
      <div id="home-post" class="col-md-4 -col-lg-12 col-xs-12 col-sm-12 nopadding pull-right">


        </div>
         </div>
        <div class="row match-my-cols ">


        <div class="col-md-4  col-sm-12  nopadding pull-left">
              <div class="box second-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4  col-xl-6 col-sm-12 nopadding pull-left">
              <div class="box second-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-12 nopadding pull-left">
            <div class="row">
              <div class="col-md-12 ">
              <div class="box fourth-box">
              <h3>Hello, world! Again</h3>
              <p>This is a template.</p>
             </div>
             </div>
              <div class="col-md-12">
            <div class="box fourth-box">
            <h3>Hello, world! An Again</h3>
            <p>This is a template 2</p>
          </div>
            </div>
        </div>
        </div>

  </div>
</div>
  </div>

  <div class="row match-my-cols">
        <div class="col-md-3 col-xl-6 col-sm-12 nopadding clearfix">
              <div class="box third-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 nopadding .clearfix">
              <div class="box third-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 nopadding pull-left">
              <div class="box third-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 nopadding pull-left">
              <div class="box third-box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

      </div>

  <div class="row">
    <div class="col-md-6 nopadding">
          <div class="box">
          <h1>Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-6 nopadding">
          <div class="box">
          <h1>Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>


      <div class="col-md-12 nopadding">
            <div class="box">
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
          </div>
      </div>

        <div class="col-md-12 nopadding">
              <div class="box">
              <h1>Hello, world!</h1>
              <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
  </div>

</div> <!-- container -->

      <hr>


{% endblock %}
{% block js %}
    {{ block.super }} {# includes previous content in block #}
    {# view-specific imports here #}
{% endblock %}
